<!DOCTYPE html>
<html lang="en" ng-app="myTestFacts">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyTest</title>
    <!-- Bootstrap css and my own css -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="page-header" id="header">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container text-center">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">*** My Test ***</a>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="#">Các bài kiểm tra</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Liên hệ<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu" style="text-align: center">
                                        <li>
                                            <a href="#">Facebook</a>
                                        </li>
                                        <li>
                                            <a href="#">Gmail</a>
                                        </li>
                                        <li>
                                            <a href="#">Twitter</a>
                                        </li>
                                    </ul>
                                </li>
                                <a href="#" class="btn btn-primary navbar-btn">Đăng nhập</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive" style="padding-top: 30px">
            <form class="form-inline well well-sm clearfix text-center">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Search" ng-model="list.search">
                </div>
                <button type="submit" class="btn btn-lg btn-primary" ng-click="list.activateQuiz()">
                    <strong>Tham gia ngay</strong>
                </button>
            </form>
            <div class="row">
                <div class="col-sm-6" ng-repeat="myTest in list.data | filter:list.search">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{myTest.anh}}"
                                class="img-rounded img-responsive well-image">
                            </div>
                            <div class="col-md-6">
                                <h4>{{myTest.noidung}}</h4>
                                <p><strong>Số câu hỏi: </strong>{{myTest.socauhoi}}</p>
                                <p><strong>Thời gian: </strong>{{myTest.thoigian}}</p>
                                <p><strong>Khuyến cáo: </strong>{{myTest.khuyencao}}</p>
                                <p><strong>Bài thi: </strong>{{myTest.baithi}}</p>
                                <button class="btn btn-primary pull-right"
                                data-toggle="modal"
                                data-target="#myTest-info"
                                ng-click="list.changeActiveMyTest(myTest)">Chi tiết</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="myTest-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>{{list.activeMyTest.type}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <img ng-src="{{list.activeMyTest.anh}}" class="img-rounded img-responsive">
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-md-6">
                                    <p><strong>Số câu hỏi: </strong>{{list.activeMyTest.socauhoi}}</p>
                                    <p><strong>Thời gian: </strong>{{list.activeMyTest.thoigian}}</p>
                                    <p><strong>Khuyến cáo: </strong>{{list.activeMyTest.khuyencao}}</p>
                                    <p><strong>Bài thi: </strong>{{list.activeMyTest.baithi}}</p>
                                </div>
                                <div class="col-xs-12 top-buffer">
                                    <p>{{list.activeMyTest.mota}}</p>
                                    <button class="btn btn-danger pull-right"
                                    data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive" style="padding-top: 30px">
            <div class="row">
                <div class="col-xs-8">
                    <div class="btn-toolbar">
                        <button class="btn"
                        ng-repeat="question in quiz.dataService.quizQuestions"
                        ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null}"
                        ng-click="quiz.setActiveQuestion($index)">
                        <span class="glyphicon" ng-class="{'glyphicon-pencil': question.selected !== null, 'glyphicon-question-sign': question.selected === null}"></span>
                    </button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <h4>Chú thích:</h4>
                    <div class="col-sm-4">
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <p>Đã làm</p>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                        <p>Chưa làm</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger" ng-show="quiz.error">
                Bạn chưa trả lời tất cả các câu hỏi
                <button class="close" ng-click="quiz.error = false">&times</button>
            </div>
            <h3>Câu hỏi:</h3>
            <div class="well well-sm" ng-hide="quiz.finalise">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>{{quiz.activeQuestion+1 + ". " + quiz.dataService.quizQuestions[quiz.activeQuestion].text}}</h4>
                        <div class="row" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'text'">
                            <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                                <h4 class="answer" ng-class="{'bg-info': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}" ng-click="quiz.selectAnswer($index)">
                                    {{answer.answer}}
                                </h4>
                            </div>
                        </div>
                        <div class="row" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'image'">
                            <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                                <div class="image-answer" ng-class="{'image-selected': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}" ng-click="quiz.selectAnswer($index)">
                                    <img ng-src="{{answer.answer}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <button class="btn btn-lg btn-success" ng-click="quiz.questionAnswered()">Tiếp tục</button>
                </div>
            </div>
            <div class="well well-sm" ng-show="quiz.finalise">
                <div class="row text-center">
                    <div class="col-xs-12">
                        <h3>Bạn có chắc chắn nộp bài không</h3>
                        <button class="btn btn-lg btn-success" ng-click="quiz.finaliseAnswers()">Có</button>
                        <button class="btn btn-lg btn-danger" ng-click="quiz.finalise = false">Không</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive">
       <div class="row">
           <div class="col-xs-8">
               <h2>Kết quả:</h2>
               <div class="btn-toolbar">
                   <button class="btn" ng-repeat="question in results.dataService.quizQuestions" ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}" ng-click="results.setActiveQuestion($index)">
                    <span class="glyphicon" ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct}"></span>
                    </button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <h4>Chú thích:</h4>
                    <div class="col-sm-4">
                        <button class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <p>Đúng</p>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <p>Sai</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 top-buffer">
                <h2>Điểm của bạn: {{results.quizMetrics.numCorrect}} / {{results.dataService.quizQuestions.length}}</h2>
                <h2><strong>{{results.calculatePerc() | number:2}}%</strong></h2>
            </div>
        </div>
        <div class="row">
            <h3>Questions:</h3>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>{{results.activeQuestion+1 +". "+results.dataService.quizQuestions[results.activeQuestion].text}}</h4>
                        <div class="row" ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'text'">
                            <div class="col-sm-6" ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">
                                <h4 class="answer" ng-class="results.getAnswerClass($index)">
                                    {{answer.answer}}
                                    <p class="pull-right" ng-show="$index !== results.quizMetrics.correctAnswers[results.activeQuestion] && $index === results.dataService.quizQuestions[results.activeQuestion].selected">Câu trả lời của bạn</p>
                                    <p class="pull-right" ng-show="$index === results.quizMetrics.correctAnswers[results.activeQuestion]">Câu trả lời đúng</p>
                                </h4>
                            </div>
                        </div>
                        <div class="row" ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'image'">
                            <div class="col-sm-6" ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">
                                <div class="image-answer" ng-class="results.getAnswerClass($index)">
                                    <img ng-src="{{answer.answer}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <button class="btn btn-lg btn-primary" ng-click="results.reset()">Trở lại</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="js/app.js"></script>
<script src="js/controllers/list.js"></script>
<script src="js/controllers/quiz.js"></script>
<script src="js/controllers/results.js"></script>
<script src="js/factories/quizMetrics.js"></script>
<script src="js/factories/dataservice.js"></script>

</body>
</html>
